.bg {
	@include for-desktop-up {
		background: $header-color url('../assets/image/bg-line.svg') no-repeat;
		background-size: cover;
	}
}

.bg-line {
  @include for-desktop-up {
		background: url('../assets/image/online-cnt-bg-line.svg') no-repeat;
		background-size: cover;
	}
}