.form__wrap--btn {
	display: flex;
	justify-content: flex-end;
}

.button{
	padding: 10px;
	background: $link-color;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	font-family: $futurademic-font;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: $primary-color;
	border: none;
	cursor: pointer;

	&:hover{
		background: $primary-color;
		color: $link-color;
		transition: 0.9s;
	}
}