.checkbox[type="checkbox"] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
	margin: -1px;

	&:checked + .box {
		background-image: url('../assets/image/checkbox.svg');
		border: 1px solid $link-hover-color;
		background-color: $link-hover-color;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.label-checkbox {
	display: block;
	font-family: $futurabook-font;
	font-size: 16px;
	line-height: 22px;
	color: $primary-color;
	cursor: pointer;
	padding-left: 26px;

	&:hover,
	&:focus {
		color: $label-form-color;
	}
}

.box {
	position: absolute;
	width: 18px;
	height: 18px;
	margin-left: -25px;
	border: 1px solid $primary-color;
	border-radius: 1px;
	margin-top: 2px;
}