.icon {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    position: absolute;
    content: '';
    height: 1.5px;
    width: 32px;
    background: $link-color;
    border-radius: 30px;
  }

  &::before {
    left: -40px;
  }

  &::after {
    right: -40px;
  }
}