.input {
	display: block;
	font-family: $futurabook-font;
	font-size: 18px;
	line-height: 24px;
	color: $primary-color;
	background: none;
	border: none;
	border-bottom: 1px solid $input-form-color;
	outline: none;

	&:focus {
		border-bottom: 1px solid $primary-color;
	}

	&[type="text"]::placeholder {
		color: $primary-color;
	}
}