.preview-slider {
  max-width: 440px;

  @include for-desktop-only {
    max-width: 420px;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  &__slide {
    margin-bottom: 80px;

    @include for-phone-only {
			margin-bottom: 0;
		}
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 34px;

		&:last-child {
			margin-bottom: 0;
		}
  }

  &__col {
		width: 180px;
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }

    @include for-desktop-only {
			margin-right: 20px;
		}
	}

  &__title {
		margin-bottom: 9px;
		font-size: 18px;
		line-height: 25px;

		@include for-phone-only {
			font-size: 14px;
			line-height: 19px;
		}
  }

  &__info {
		max-width: 100px;
		font-family: $futurabook-font;
		font-size: 15px;
		line-height: 20px;
		color: $primary-color;

		@include for-phone-only {
			font-size: 14px;
			line-height: 19px;
		}
  }

  .swiper-container--wrap {
    @include for-phone-only {
			display: none;
		}
  }

  &-pagination {
    display: none;

    @include for-big-desktop-up {
      display: flex;
      align-items: center;
    }
  }

  &-pagination__bullet {
    font-size: 0;
    position: relative;
    margin-right: 30px;
  }

  .swiper-pagination-bullet {
    @include pagination-bullet;
  }
}