.preview-tab {
  width: 100%;

  @include for-phone-only {
    margin-bottom: 36px;
  }

  &__row {
		margin-bottom: 45px;
    height: 20px;

    @include for-phone-only {
			display: none;
		}
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  &-pagination {
    display: flex;
  }

  .swiper-pagination-bullet {
    @include link_down;

    width: auto;
    height: auto;
    border-radius: 0;
    background: none;
    color: rgba(255, 255, 255, 0.3);
    opacity: 1;
    margin-right: 60px;

		&:last-child {
			margin-right: 0;
    }
  }

  .swiper-pagination-bullet-active {
    color: $link-color;
    border-bottom: 1px solid $link-color;
  }

  .swiper-wrapper-parent {
    max-height: 482px;
  }

  &__slide {
    height: auto;
  }

  .swiper-sublevel-slide {
    width: 80%;
    height: auto;
    background: white;
    top: 0;

    @include for-phone-only {
			width: 100%;
    }

    @include for-tablet-portait-only {
			width: 100%;
		}
  }

  &__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
    object-position: center;
	}

  &__prev, &__next {
    width: 55px;
    height: 55px;
    background: $link-color;
    border-radius: 50%;
    color: $primary-color;
    font-size: 20px;

    &:after {
      font-size: 16px;
      font-weight: bold;
    }

    @include for-phone-only {
			width: 36px;
      height: 36px;

      &:after {
        font-size: 11px;
      }
		}
  }

  .swiper-button-disabled {
    opacity: 0;

    @include for-phone-only {
			opacity: 1;
    }
  }
}

