.title {
	font-family: $yeseva-font;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: $primary-color;

	@include for-phone-only {
		font-size: 22px;
		line-height: 30px;
	}
}