body.is-locked {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.topbar {
  width: 100%;
  min-height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-phone-only {
		min-height: 57px;
  }

  &__title {
    @include link-main;

    text-transform: uppercase;
    margin-right: 95px;
    white-space: nowrap;

    @include for-phone-only {
      font-size: 12px;
      line-height: 14px;
      margin-right: 0;
    }

    @include for-desktop-only {
      margin-right: 30px;
    }
  }

  &__wrapp {
    display: block;
    width: 100%;

    @include for-phone-only {
      position: fixed;
      height: calc(100% - 57px);
      top: 57px;
      right: -100%;
      z-index: 9;
      background: $overlay-color;
      transition: transform 0.5s linear;
    }

    @include for-tablet-portait-only {
      position: fixed;
      top: 83px;
      height: calc(100% - 83px);
      right: -100%;
      z-index: 15;
      background: $overlay-color;
      transition: transform 0.5s linear;
    }

    @include for-tablet-landscape-only {
      position: fixed;
      top: 83px;
      height: calc(100% - 83px);
      right: -100%;
      z-index: 15;
      background: $overlay-color;
      transition: transform 0.5s linear;
    }
  }

  &__wrapp.is-open{
    transform: translateX(-100%);
  }

  &__row {
    @include for-phone-only {
      position: absolute;
      width: 60%;
      height: 100%;
      top: 0;
      right: 0;
      padding: 20px 40px;
      padding-bottom: 40px;
      background: $header-color;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      overflow: auto;
    }

    @include for-tablet-portait-only {
      position: absolute;
      width: 40%;
      height: 100%;
      top: 0;
      right: 0;
      padding: 20px 40px;
      padding-bottom: 40px;
      background: $header-color;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }

    @include for-tablet-landscape-only {
      position: absolute;
      width: 40%;
      height: 100%;
      top: 0;
      right: 0;
      padding: 20px 40px;
      padding-bottom: 40px;
      background: $header-color;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }

    @include for-desktop-up {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-nav {
    width: 100%;
    margin-bottom: 30px;

    @include for-desktop-up {
      width: auto;
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      margin-bottom: 0;
    }

    @include for-big-desktop-up {
      margin-right: 30px;
    }
  }

  &-nav__link {
    @include link-nav;

    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @include for-desktop-up {
      display: inline;
      margin-right: 15px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    @include for-big-desktop-up {
      margin-right: 48px;
    }
  }

  &-connect {
    display: flex;

    @include for-phone-only {
      width: 100%;
      flex-direction: column;
    }

    @include for-tablet-portait-only {
      width: 100%;
      flex-direction: column;
    }

    @include for-tablet-landscape-only {
      width: 100%;
      flex-direction: column;
    }

    @include for-desktop-up {
      align-items: center;
    }
  }

  &-connect__link {
    font-family: $futurademic-font;
    color: $primary-color;
    text-align: left;
    white-space: nowrap;
    margin-right: 0;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin-bottom: 16px;

    &:hover {
      color: $primary-color;
      transition: 0.9s;
    }

    @include for-desktop-only {
      margin-right: 15px;
    }

    @include for-desktop-up {
      color: $link-color;
      flex-direction: column;
      text-decoration-line: underline;
      margin-right: 45px;
      margin-bottom: 0;
    }
  }

  &-connect__btn {
    width: 100%;
    min-height: 37px;
    border-radius: 2px;

    @include for-desktop-up {
      width: 161px;
    }
  }
}

