$primary-color: #FFFFFF;
$header-color: #131313;
$link-color: #E3B873;
$text-color: #363636;
$link-hover-color: #E3B873;
$form-color: rgba(54, 54, 54, 0.5);
$label-form-color: rgba(255, 255, 255, 0.5);
$input-form-color: rgba(255, 255, 255, 0.15);
$descr-color: #959595;
$footer-form-color: #181818;
$form-border-color: #c3c3c3;
$overlay-color: rgba(0, 0, 0, 0.7);