@mixin link-main {
	font-family: $futurademic-font;
	font-size: 14px;
	line-height: 16px;
	color: $link-color;
}

@mixin link-nav {
	font-family: $futurabook-font;
	font-size: 14px;
	line-height: 16px;
	color: $primary-color;
}

@mixin link-clear {
	display: inline-block;
	font-family: $futurademic-font;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	color: $primary-color;
	border: 1px solid $primary-color;
	border-radius: 2px;
}

@mixin link_down {
	font-family: $yeseva-font;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: $primary-color;
}

@mixin pagination-bullet {
	width: 10px;
	height: 10px;
	background: $primary-color;
	margin-right: 18px;

	&:last-child {
		margin-right: 0;
	}
}

@mixin title-repair {
	font-family: $yeseva-font;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: $text-color;

	@include for-phone-only {
		font-size: 15px;
		line-height: 21px;
	}
}

@mixin card-item {
	display: flex;
	align-items: center;
	font-family: $futurabook-font;
	font-size: 15px;
	line-height: 25px;
	color: $descr-color;

	&::before {
		content: '';
		width: 4px;
		height: 4px;
		margin-right: 8px;
		background: $descr-color;
		border-radius: 50%;
	}
}

@mixin link-repair {
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	display: inline-block;
	width: 228px;
	min-height: 54px;
	text-align: center;
	padding: 17px 10px;
	background: $link-color;
	font-family: $yeseva-font;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: $primary-color;
	vertical-align: middle;

	&:hover {
		transition: 0.9s;
		border: 1px solid $link-color;
		color: $link-color;
		background: $primary-color;
	}

	@include for-phone-only {
		width: 190px;
		min-height: 40px;
		padding-top: 12px;
		font-size: 15px;
		line-height: 21px;
	}
}