$futurabook-font: 'FuturaBookC';
$yeseva-font: 'Yeseva One', cursive;
$futurademic-font: 'FuturaDemiC';
$futuramedium-font: 'FuturaMediumC';
$proxima-font: 'Proxima Nova', sans-serif;

$max-width: 1296px;