html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $link-color;
	}
}

.container {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 20px;

	@media (max-width: 1199px) {
		max-width: 1180px;
	}
}