@font-face {
	font-family: 'FuturaBookC';
	src: url("../assets/fonts/futurabookc.ttf") format("truetype");
}
@font-face {
	font-family: 'Yeseva One';
	src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family: 'FuturaDemiC';
	src: url("../assets/fonts/futurademic.ttf") format("truetype");
}
@font-face {
	font-family: 'FuturaMediumC';
	src: url("../assets/fonts/FuturaMd.ttf") format("truetype");
	src: url("../assets/fonts/FuturaMediumC.woff") format("truetype");
}
@font-face {
	font-family: 'Proxima Nova';
	src: url("../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}