.design {
  padding-top: 153px;

  @include for-phone-only {
    background: $header-color;
    padding: 0;
    padding-bottom: 58px;
  }

  @include for-tablet-portait-only {
    padding-top: 40px;
    padding-bottom: 58px;
  }

  @include for-tablet-landscape-only {
    padding-top: 40px;
    padding-bottom: 58px;
  }

  @include for-desktop-up {
    background: linear-gradient(to bottom, $primary-color 55%, transparent 45%);
  }

  &__title {
    color: $footer-form-color;
    margin-bottom: 13px;

    @include for-phone-only {
      margin-bottom: 16px;
      color: $primary-color;
		}
  }

  &__icon {
    width: 28px;
    height: 28px;
    background: url('../assets/image/design-icon.svg') no-repeat 100% 100%;
    margin-bottom: 24px;
  }

  &__description {
    margin: 0 auto;
    max-width: 770px;
    font-family: $futurabook-font;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $text-color;
    margin-bottom: 39px;

    @include for-phone-only {
      color: $primary-color;
		}
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include for-phone-only {
      margin-bottom: 0;
		}
  }

  &-card {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 50px;
    z-index: 15;
    padding-bottom: 50px;

    &:nth-child(3n) {
      padding-bottom: 0;
    }

    @include for-phone-only {
      width: 100%;
      margin-bottom: 89px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include for-tablet-portait-only {
      width: 100%;
      margin-bottom: 79px;

      &:last-child {
        margin-bottom: 0;
      }
		}
  }

  &-card__bg {
    position: relative;
    max-width: 392px;
    max-height: 421px;

    &::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    @include for-phone-only {
      max-width: 100%;
      max-height: 100%;
    }

    @include for-tablet-portait-only {
      max-width: 100%;
      max-height: 100%;
		}
  }

  &-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-card__info {
    position: relative;
    max-width: 330px;
    margin: 0 auto;
    margin-top: -127px;
    background: $primary-color;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    z-index: 1;

    @include for-phone-only {
      max-width: 270px;
			margin-left: 0;
		}
  }

  &-card__col {
    padding: 25px 29px 23px 31px;

    @include for-phone-only {
      padding-top: 21px;
      padding-bottom: 17px;
		}
  }

  &-card__title {
    @include title-repair;

    margin-bottom: 13px;
  }

  &-card__list {
    padding-left: 3px;
  }

  &-card__item {
    @include card-item;

    @include for-phone-only {
			font-size: 13px;
      line-height: 22px;
		}
  }

  &-card__link {
    @include link-repair;

    margin-bottom: -27px;

    @include for-phone-only {
			margin-bottom: -20px;
		}
  }
}