.footer {

	&__wrapper {
		background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url('../assets/image/footer-image.jpg') no-repeat;
		background-size: 100% 100%;

		@include for-phone-only {
			background: $header-color;
			padding-top: 38px;
			padding-bottom: 38px;
		}

		@include for-tablet-portait-only {
			background: $header-color;
			padding-top: 38px;
			padding-bottom: 38px;
		}

		@include for-tablet-landscape-only {
			background: $header-color;
			padding-top: 38px;
			padding-bottom: 38px;
		}
	}

	&__wrapp {
		display: flex;
		align-items: center;
		flex-direction: column;

		@include for-phone-only {
			display: block;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		flex-direction: column;

		@include for-phone-only {
			display: none;
		}
	}

	&__info--mobile {
		display: none;

		@include for-phone-only {
			display: block;
		}
	}

	&__contacts {
		max-width: 589px;
		font-family: $yeseva-font;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
		color: $link-color;
		margin-bottom: 26px;

		@include for-phone-only {
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 23px;
		}
	}

	&-social {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;

		@include for-phone-only {
			margin-bottom: 0;
		}
	}

	&-social__link {
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background-color: $link-color;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}

		@include for-phone-only {
			width: 39px;
			height: 39px;
		}
	}

	&-social__img {
		width: 17px;
		height: 14px;

		@include for-phone-only {
			width: 20px;
			height: 17px;
		}
	}

	&-social__img--inst {
		width: 16px;
		height: 16px;

		@include for-phone-only {
			width: 22px;
			height: 22px;
		}
	}

	&__map {
		max-width: 100%;
		margin-bottom: 40px;
	}

	&__map-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&-bar {
		background-color: $header-color;
		min-height: 133px;
		display: none;

		@include for-desktop-up {
			display: block;
		}
	}

	&-bar__row {
		min-height: 133px;
	}

	&-bar__wrap {
		display: flex;
	}
}