.form {
	background: $header-color;

	&__col {
		margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
		}

		@include for-phone-only {
      margin-bottom: 30px;
		}
	}
}

.footer-form {
	max-width: 883px;
	min-height: 445px;
	padding: 34px 182px;
	margin-bottom: 25px;
	background-color: $footer-form-color;
	text-align: center;
	z-index: 5;

	@include for-phone-only {
		padding: 0;
		background: $header-color;
		margin-bottom: 46px;
	}

	@include for-tablet-portait-only {
		min-height: 360px;
		padding: 0;
		background: $header-color;
		margin-bottom: 46px;
	}

	@include for-tablet-landscape-only {
		min-height: 360px;
		padding: 0;
		background: $header-color;
	}

	&__title {
		margin-bottom: 45px;

		@include for-phone-only {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 52px;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;

		@include for-phone-only {
			display: block;
		}
	}

	&__col {
		margin-bottom: 48px;

		&:first-child {
			margin-right: 58px;
		}

		@include for-phone-only {
			margin-bottom: 63px;

			&:first-child {
				margin-right: 0;
			}
		}
	}

	&__col--mobile {
		margin-bottom: 22px;
	}

	&__label {
		display: flex;
	}

	&__input {
		width: 231px;

		@include for-phone-only {
			width: 100%;
		}
	}

	&__input--long {
		width: 100%;
	}

	&__label-checkbox {
		position: relative;
		display: inline-block;
		margin-bottom: 45px;
		padding-left: 26px;

		@include for-phone-only {
			margin-bottom: 67px;
			text-align: left;
		}
	}

	&__button {
		display: block;
		margin: 0 auto;
		width: 200px;
		min-height: 51px;

		@include for-phone-only {
			width: 100%;
		}
	}
}

