.hero {
	position: relative;
	display: flex;
	min-height: calc(100vh - 83px);
	background: $header-color;

	@include for-phone-only {
		min-height: calc(100vh - 57px);
	}

	@include for-desktop-up {
		background: none;
	}

	&__insta-link {
		max-width: 82px;
		background: $header-color;
		display: flex;
		align-items: center;
		justify-content: center;

		@include for-phone-only {
			display: none;
		}
	}

	&__insta-text {
		@include link-main;

		display: flex;
		align-items: center;
		transform: rotate(90deg);

		&::after {
			content: '';
			background: $link-color;
			height: 1.5px;
			width: 51px;
			right: 8px;
			margin-left: 10px;
		}

		&:hover {
			color: $primary-color;
		}
	}

	&__block {
		position: relative;
		width: 100%;
		min-height: calc(100vh - 83px);
		display: flex;
		align-items: center;

		@include for-phone-only {
			padding-top: 85px;
			min-height: calc(100vh - 57px);
		}
	}

	&__bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 48px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.7);
			z-index: 1;
		}

		@include for-phone-only {
			bottom: 0;
		}
	}

	&__bg-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.container-hero{
		@include for-phone-only {
			max-width: $max-width;
			margin: 0 auto;
			padding: 0 20px;
		}
	}

	&__content {
		position: relative;
		left: 60px;
		max-width: 600px;
		z-index: 3;
		margin-bottom: 120px;

		@include for-phone-only {
			left: 0;
			margin-bottom: 61px;
		}

		@include for-tablet-portait-only {
			max-width: 500px;
		}
	}

	&__content-title {
		font-family: $yeseva-font;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 53px;
		text-transform: uppercase;
		color: $primary-color;
		margin-bottom: 19px;

		@include for-phone-only {
			font-size: 23px;
			line-height: 31px;
			margin-bottom: 16px;
		}

		@include for-tablet-portait-only {
      font-size: 32px;
			line-height: 42px;
    }
	}

	&__content-title-color {
		color: $link-color;
	}

	&__content-description {
		max-width: 420px;
		font-family: $futurabook-font;
		font-size: 22px;
		line-height: 30px;
		color: $primary-color;
		margin-bottom: 41px;

		@include for-phone-only {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 32px;
		}

		@include for-tablet-portait-only {
      font-size: 20px;
			line-height: 28px;
    }
	}

	&__content-link {
		display: inline-block;
		height: 51px;
		padding: 10px 42px;
		padding-top: 19px;
		margin-right: 20px;

		@include for-phone-only {
			width: 100%;
			margin-bottom: 26px;
		}
	}

	&__content-link--transparent {
		@include link-clear;

		height: 51px;
		padding: 10px 22px;
		padding-top: 19px;

		&:hover {
			border-color: $link-color;
			transition: 0.9s;
		}

		@include for-phone-only {
			width: 100%;
		}
	}

	&__link--down {
		@include link_down;

		position: absolute;
		display: flex;
		align-items: center;
		left: 0;
		bottom: 0;
		height: 97px;
		width: 247px;
		padding-top: 40px;
		padding-left: 48px;
		padding-bottom: 39px;
		background-color: $header-color;
		z-index: 4;

		&::after {
			content: '';
			background: url('../assets/image/down.svg') no-repeat;
			width: 29px;
			height: 29px;
			margin-left: 12px;
		}

		@include for-phone-only {
			display: none;
		}
	}
}