body.is-locked-modal {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  align-items: center;
  background: $overlay-color;
  z-index: 17;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  &-form {
    position: relative;
    max-width: 506px;
    min-height: 509px;
    margin: auto;
    padding: 33px 49px 27px;
    background: $footer-form-color;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  }

  &-form__close {
    position: absolute;
    top: 11px;
    right: 12px;
    cursor: pointer;
  }

  &-form__title {
    margin-bottom: 34px;
    text-transform: none;
  }

  &-form__wrap {
    margin-bottom: 16px;
  }

  &-form__input {
    width: 100%;
  }

  &-form__label-checkbox {
		margin-bottom: 39px;

		@include for-phone-only {
      margin-bottom: 25px;
		}
	}

  &-form__button {
    width: 213px;
    height: 51px;

    @include for-phone-only {
      width: 100%;
		}
  }
}