.online-control {
	margin-top: -324px;
	text-align: center;
	padding-bottom: 74px;

	@include for-phone-only {
		background: $header-color;
		margin-top: 0;
		padding-bottom: 0;
	}

	@include for-tablet-portait-only {
		background: $header-color;
		margin-top: 0;
	}

	@include for-tablet-landscape-only {
		padding-bottom: 37px;
	}

	&__title {
		margin-bottom: 13px;

		@include for-phone-only {
			margin-bottom: 19px;
		}
	}

	&__icon {
		width: 33px;
		height: 28px;
		background: url('../assets/image/online-control.svg') no-repeat 100% 100%;
		margin-bottom: 31px;

		@include for-phone-only {
			margin-bottom: 40px;
		}
	}

	&__video {
		position: relative;
		max-width: 817px;
		height: 434px;
		margin: 0 auto;
		margin-bottom: 62px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.8);
			z-index: 1;
		}

		&.is-active {
			&::before {
				display: none;
			}
		}

		@include for-phone-only {
			margin-bottom: 28px;
			height: 300px;
		}
	}

	&__video-cnt {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__video-play {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 85px;
		height: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $link-color;
		box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
		border-radius: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		@include for-phone-only {
			width: 37px;
			height: 37px;
		}

		&.is-active {
			display: none;
		}
	}

	&__video-img {
		padding-left: 6px;

		@include for-phone-only {
			width: 12px;
			height: 12px;
			padding-left: 0;
		}
	}

	&__line {
		margin: 0 auto;
		display: block;
		width: 55px;
		height: 1.5px;
		background: $link-color;
		border-radius: 30px;
		margin-bottom: 34px;

		@include for-phone-only {
			margin-bottom: 21px;
		}
	}

	&__description {
		margin: 0 auto;
		max-width: 681px;
		font-family: $futurabook-font;
		font-size: 20px;
		line-height: 34px;
		text-align: center;
		color: $text-color;
		margin-bottom: 91px;

		@include for-phone-only {
			font-size: 14px;
			line-height: 24px;
			color: $primary-color;
			margin-bottom: 25px;
		}

		@include for-tablet-portait-only {
			color: $primary-color;
		}
	}

	&-form {
		@include for-phone-only {
			position: relative;
			bottom: -25px;
		}
	}

	&-form__wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 33px;

		@include for-phone-only {
			display: block;
			margin-bottom: 0;
		}
	}
	&-form__row {
		display: flex;
		margin-right: 49px;

		@include for-phone-only {
			display: block;
			margin-right: 0;
			margin-bottom: 26px;
		}
	}

	&-form__col {
		width: 231px;
		margin-right: 58px;

		&:last-child {
			margin-right: 0;
		}

		@include for-phone-only {
			width: 100%;
			margin-right: 0;
			margin-bottom: 63px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-form__label {
		display: flex;
		color: $form-color;

		@include for-phone-only {
			color: $label-form-color;
		}

		@include for-tablet-portait-only {
			color: $label-form-color;
		}
	}

	&-form__input {
		width:100%;
		color: $text-color;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3);

		&:focus {
			border-bottom: 1px solid $footer-form-color;
		}

		&[type="text"]::placeholder {
			color: $text-color;
		}

		@include for-phone-only {
			color: $primary-color;
			border-bottom: 1px solid $form-border-color;

			&:focus {
				border-bottom: 1px solid $primary-color;
			}

			&[type="text"]::placeholder {
				color: $primary-color;
			}
		}

		@include for-tablet-portait-only {
			color: $primary-color;
			border-bottom: 1px solid $form-border-color;

			&:focus {
				border-bottom: 1px solid $primary-color;
			}

			&[type="text"]::placeholder {
				color: $primary-color;
			}
		}
	}

	&-form__btn {
		width: 200px;
		min-height: 51px;

		&:hover {
			border: 2px solid $link-color;
		}

		@include for-phone-only {
			width: 100%;
		}
	}

	&-form__label-checkbox {
		color: $footer-form-color;
		display: inline-block;

		&:hover {
			color: $form-color;
		}

		@include for-phone-only {
			display: none;
		}

		@include for-tablet-portait-only {
			color: $primary-color;

			&:hover,
			&:focus {
				color: $primary-color;
			}
		}
	}

	&-form__label-checkbox--mobile {
		display: none;

		@include for-phone-only {
			display: block;
			text-align: left;
			margin-bottom: 62px;

			&:hover,
			&:focus {
				color: $primary-color;
			}
		}
	}

	&-form__box {
		border: 1px solid $footer-form-color;

		@include for-tablet-portait-only {
			border: 1px solid $primary-color;
		}
	}
}