.preview {
	padding-top: 59px;
	background: $header-color;

	@include for-phone-only {
		padding-top: 36px;
		padding-bottom: 57px;
	}

	@include for-tablet-portait-only {
		padding-top: 36px;
		padding-bottom: 57px;
	}

	@include  for-tablet-landscape-only {
		padding-bottom: 416px;
	}

	@include for-desktop-up {
		background: none;
	}

	&__wrap {
		display: block;

		@include for-desktop-up {
			display: flex;
		}
	}

	&__block {
		max-width: 450px;
		margin-right: 50px;

		@include for-phone-only {
			margin: 0 auto;
		}

		@include for-tablet-portait-only {
			margin: 0 auto;
		}
		@include for-desktop-only {
			margin-right: 20px;
		}
	}

	&__col {
		padding-top: 0;
		margin-bottom: 42px;

		@include for-desktop-up {
			padding-top: 69px;
		}
	}

	&__title {
		max-width: 340px;
		margin-bottom: 34px;
		letter-spacing: -0.07em;

		@include for-phone-only {
			max-width: 200px;
			font-size: 22px;
			line-height: 30px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 22px;
		}

		@include for-tablet-portait-only {
			text-align: center;
			margin: 0 auto;
		}
	}

	&__title-line {
		@include for-tablet-landscape-up {
			position: relative;
			display: flex;
			align-items: center;

			&:after {
				position: absolute;
				content: '';
				background: $link-color;
				height: 1px;
				width: 92px;
				left: 161px;
			}
		}
	}

	&__description {
		max-width: 440px;
		font-family: $futurabook-font;
		font-size: 18px;
		line-height: 29px;
		color: $primary-color;

		@include for-phone-only {
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 36px;
		}

		@include for-tablet-portait-only {
			text-align: center;
			margin: 0 auto;
		}
	}

  .swiper-container--mobile {
    display: none;

    @include for-phone-only {
			display: block;
		}
	}

	&__bg {
		display: none;

		@include for-desktop-up {
			display: flex;
			height: 416px;
		}
	}

	&__frame1 {
		width: 100%;
		height: 100%;
		background: url('../assets/image/bg-frame-1.svg') no-repeat;
		background-size: 100% 100%;
	}

	&__frame2 {
		width: 100%;
		height: 100%;
		background: url('../assets/image/bg-frame-1.svg') no-repeat;
		background-size: 127% 100%;
	}
}