.repair {
  padding-top: 74px;
  padding-bottom: 302px;
  margin-bottom: -60px;

  @include for-phone-only {
    padding-top: 83px;
    padding-bottom: 100px;
  }

  @include for-tablet-portait-only {
    padding-bottom: 100px;
  }

  @include for-tablet-landscape-only {
    padding-top: 37px;
    padding-bottom: 110px;
  }

  &__title {
    color: $footer-form-color;
    margin-bottom: 13px;

    @include for-phone-only {
			margin-bottom: 17px;
		}
  }

  &__icon {
    width: 28px;
    height: 28px;
    background: url('../assets/image/repair-icon.svg') no-repeat 100% 100%;
    margin-bottom: 31px;

    @include for-phone-only {
			margin-bottom: 40px;
		}
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: 90px;

    @include for-phone-only {
			display: block;
    }

    @include for-tablet-portait-only {
			display: block;
    }
  }

  &-work {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 50px;

    @include for-phone-only {
      width: 100%;
      margin-bottom: 79px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include for-tablet-portait-only {
      width: 100%;
      margin-bottom: 79px;

      &:last-child {
        margin-bottom: 0;
      }
		}
  }

  &-work__bg {
    max-width: 392px;
    max-height: 421px;

    @include for-phone-only {
      max-width: 100%;
      max-height: 100%;
    }

    @include for-tablet-portait-only {
      max-width: 100%;
      max-height: 100%;
		}
  }

  &-work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-work__info {
    position: relative;
    max-width: 330px;
    min-height: 286px;
    margin: 0 auto;
    margin-top: -127px;
    background: $primary-color;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    @include for-phone-only {
      max-width: 270px;
      min-height: 241px;
			margin-left: 0;
		}
  }

  &-work__col {
    padding: 25px 29px 23px 31px;

    @include for-phone-only {
      padding-top: 21px;
      padding-bottom: 17px;
		}
  }

  &-work__title {
    @include title-repair;

    margin-bottom: 13px;

    @include for-phone-only {
			margin-bottom: 10px;
		}
  }

  &-work__list {
    padding-left: 3px;
  }

  &-work__item {
    @include card-item;

    @include for-phone-only {
			font-size: 13px;
      line-height: 22px;
		}
  }

  &-work__link {
    @include link-repair;

    margin-bottom: -27px;

    @include for-phone-only {
			margin-bottom: -20px;
		}
  }

  &-info {
    height: 100%;
    padding-top: 115px;
    background: url('../assets/image/repair-1.png') no-repeat;
    background-position: left bottom;

    @include for-phone-only {
      padding: 0;
      background-position: left top;
      background-size: 100% 430px;
    }

    @include for-tablet-portait-only {
      padding-top: 30px;
      background-position: left top;
      background-size: 100% 480px;
    }

    @include for-tablet-landscape-only {
      padding-top: 40px;
    }
  }

  &-info__wrap {
    @include for-tablet-landscape-up {
      display: flex;
      justify-content: space-between;
    }
  }

  &-info__bl-left {
    width: 100%;
    padding: 30px 0;
    padding-left: 230px;
    padding-right: 54px;
    display: flex;
    align-items: center;

    @include for-phone-only {
      padding: 0;
      min-height: 430px;
    }

    @include for-tablet-portait-only {
      padding: 0;
      min-height: 450px;
    }

    @include for-tablet-landscape-only {
      padding-left: 0;
    }
  }

  &-info__list {
    width: 100%;
    counter-reset: section;
    list-style-type: none;
  }

  &-info__item {
    position: relative;
    display: flex;
    font-family: $futuramedium-font;
    font-size: 18px;
    line-height: 21px;
    color: $text-color;
    margin-bottom: 60px;

    &::before {
      @include title-repair;

      display: flex;
      justify-content: center;
      align-items: center;
      counter-increment: section;
      content: "0" counter(section) "";
      min-width: 41px;
      height: 41px;
      margin-right: 14px;
      border-radius: 50%;
      background: $link-color;
      color: white;
    }

    &::after {
      position: absolute;
      content: '';
      width: 3px;
      height: 100%;
      background: $link-color;
      margin-top: 50px;
      left: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:last-child::after {
      display: none;
    }

    @include for-phone-only {
      font-size: 18px;
		}
  }

  &-form {
    width: 506px;
    min-height: 509px;
    padding: 28px 49px 26px;
    margin-bottom: 38px;

    @include for-phone-only {
      width: 100%;
      min-height: 400px;
      padding: 14px 0 12px;
      margin-bottom: 20px;
      background: $primary-color;
    }

    @include for-tablet-portait-only {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    @include for-tablet-landscape-only {
      max-width: 400px;
    }
  }

  &-form__title {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 39px;
    font-family: $futurademic-font;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: $primary-color;

    @include for-phone-only {
      color: $footer-form-color;
      margin-bottom: 28px;
		}
  }

  &-form__wrap {
    margin-bottom: 16px;
  }

  &-form__label {
    @include for-phone-only {
      color: $form-color;
		}
  }

  &-form__input {
    width: 100%;

    @include for-phone-only {
      color: $text-color;
      border-bottom: 1px solid rgba(54, 54, 54, 0.3);

      &:focus {
        border-bottom: 1px solid $footer-form-color;
      }

      &[type="text"]::placeholder {
        color: $text-color;
      }
		}
  }

  &-form__label-checkbox {
    margin-bottom: 39px;

    @include for-phone-only {
      margin-bottom: 25px;
      color: $footer-form-color;

      &:hover {
        color: $form-color;
      }
		}
  }

  &-form__box {
    @include for-phone-only {
      border: 1px solid $footer-form-color;
		}
  }

  &-form__button {
    width: 213px;
    min-height: 51px;

    @include for-phone-only {
      width: 100%;
		}
  }

  &__promo {
    display: flex;
    align-items: center;
    padding-left: 32px;

    @include for-tablet-portait-only {
      justify-content: center;
		}
  }

  &__promo-bg {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: $link-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;

    @include for-phone-only {
      width: 56px;
      height: 56px;
		}
  }

  &__promo-text {
    max-width: 240px;
    font-family: $futurademic-font;
    font-size: 20px;
    line-height: 25px;
    color: $link-color;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

    @include for-phone-only {
      font-size: 16px;
		}
  }
}