.steps {
  background: $header-color;
  padding-bottom: 60px;
  padding-top: 30px;
  margin-bottom: -30px;

  @include for-desktop-up {
    margin-top: -50px;
    padding-top: 0;
    background: none;
  }

  &__wrap {
    margin-bottom: 30px;

    @include for-desktop-up {
      margin-bottom: 0;
    }
  }

  &__overhead {
    display: inline-block;
    font-family: $futurademic-font;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 18px;

    @include for-phone-only {
      display: block;
      text-align: center;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__title {
    width: 340px;

    @include for-phone-only {
      width: auto;
      display: block;
      text-align: center;
      font-size: 22px;
			line-height: 30px;
    }
  }

  &__title-line {
    max-width: 140px;
    position: relative;
    display: flex;
    align-items: center;

    &:after {
      position: absolute;
      content: '';
      background: $link-color;
      height: 1px;
      width: 92px;
      left: 212px;
    }

    @include for-phone-only {
      display: block;
      text-align: center;
      margin: 0 auto;

      &::after {
        display: none;
      }
    }
  }

  &-slider {
    position: relative;

    @include for-desktop-up {
      margin-top: -17px;
    }
  }

  &-tab {
    position: relative;
    width: 765px;
    min-height: 202px;
    margin-left: auto;
    margin-bottom: 25px;

    @include for-phone-only {
      width: auto;
      margin-bottom: 15px;
    }

    @include for-tablet-portait-only {
      width: auto;
      margin: 0;
    }

    @include for-tablet-landscape-only {
      margin: 0;
    }

    @include for-desktop-only {
      width: 650px;
    }
  }

  &-tab-pagination {
    position: relative;
    max-width: 765px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include for-phone-only {
      margin: 0 auto;
    }

    .swiper-pagination-bullet {
      width: 150px;
      height: auto;
      margin-right: 9.8rem;
      margin-bottom: 36px;
      text-align: left;
      background: none;
      border-radius: 0;

      @include for-phone-only {
        width: 120px;
        margin-right: 15px;
        margin-bottom: 15px;
      }

      @include for-tablet-portait-only {
        margin-right: 3.3rem;
        margin-bottom: 25px;

        &:nth-child(3n+3) {
          margin-right: 0;
        }
      }

      @include for-tablet-landscape-only {
        margin-right: 5.3rem;
        margin-bottom: 25px;

        &:nth-child(3n+3) {
          margin-right: 0;
        }
      }

      @include for-desktop-up {
        margin-right: 5.3rem;

        &:nth-child(3n+3) {
          margin-right: 0;
        }
      }
    }
  }

  &-tab__num {
    @include title-repair;

    display: inline-block;
    text-transform: uppercase;
    color: $primary-color;
    border-bottom: 1px solid $link-color;
    margin-bottom: 12px;
  }

  &-tab__title {
    @include link-nav;

    display: block;
    font-size: 15px;
    line-height: 18px;
  }

  &-slider__counter {
    @include title-repair;

    text-transform: uppercase;
    color: $primary-color;
    top: 117px;
    margin-bottom: 22px;

    @include for-desktop-up {
      position: absolute;
    }
  }

  &-slider__slide {
    position: relative;
    display: block;
    margin-bottom: 20px;

    @include for-desktop-up {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &-slider__col {
    margin: 0 auto;

    @include for-desktop-up {
      margin: -67px 30px 0 0;
    }
  }

  &-slider__title {
    max-width: 260px;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 16px;

    @include for-phone-only {
      margin: 0 auto;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  &-slider__description {
    margin-bottom: 120px;
    font-family: $futurabook-font;
    font-size: 15px;
    line-height: 25px;
    color: $primary-color;

    @include for-phone-only {
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 24px;
    }

    @include for-tablet-portait-only {
      margin-bottom: 30px;
    }

    @include for-tablet-landscape-only {
      margin-bottom: 30px;
    }

    @include for-desktop-up {
      max-width: 340px;
    }
  }

  &-slider__bg {
    width: 100%;
    max-height: 420px;
    overflow: hidden;

    @include for-desktop-up {
      width: auto;
      max-width: 765px;
      max-height: 420px;
    }
  }

  &-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-slider-pagination {
    display: flex;
    align-items: center;
    bottom: 100px;
    z-index: 5;

    @include for-phone-only {
      justify-content: center;
    }

    @include for-tablet-portait-only {
      justify-content: center;
    }

    @include for-tablet-landscape-only {
      justify-content: center;
    }

    @include for-desktop-up {
      position: relative;
    }
  }

  &-slider-pagination__bullet {
    font-size: 0;
    position: relative;
    margin-right: 30px;

    @include for-phone-only {
      margin-right: 10px;
    }

    .steps-tab__num, .steps-tab__title, .swiper-pagination-fraction {
      display: none;
    }

    .swiper-pagination-fraction {
      display: none;
    }
    .swiper-pagination-bullet{
      @include pagination-bullet;
    }
  }
}
