.version {
  position: relative;
  padding-bottom: 52px;

  @include for-desktop-up {
    padding-bottom: 0;
  }

  &__bg {
    position: absolute;
		left: 0;
		right: 0;
		top: 0;
    bottom: 0;
    display: none;

    &::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
      background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
      z-index: 1;
    }

    &.is-active {
      display: block;
    }
  }

  &__bg-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
    object-position: center;
    animation: smoothly 0.7s linear;

    @keyframes smoothly {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
  }

  &__wrap {
    z-index: 2;
    position: relative;
    display: block;

    @include for-desktop-up {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col {
    padding-top: 30px;

    @include for-desktop-up {
      padding-top: 93px;
      padding-bottom: 30px;
    }
  }

  &__title {
    max-width: 350px;
    margin-bottom: 47px;

    @include for-phone-only {
      margin: 0 auto;
      text-align: center;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 24px;
    }

    @include for-tablet-portait-only {
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 32px;
    }

    @include for-tablet-landscape-only {
      margin: 0 auto;
      text-align: center;
      font-size: 26px;
      line-height: 40px;
      margin-bottom: 38px;
    }
  }

  &__list {
    @include for-phone-only {
      margin-bottom: 20px;
    }

    @include for-tablet-portait-only {
      margin-bottom: 25px;
    }

    @include for-tablet-landscape-only {
      margin-bottom: 30px;
    }
  }

  &__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    @include for-phone-only {
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 10px;
    }

    @include for-tablet-portait-only {
      display: inline-block;
      margin-bottom: 7px;
      margin-right: 15px;
    }

    @include for-tablet-landscape-only {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 20px;
    }
  }

  &__link {
    display: inline-block;
    font-family: $proxima-font;
    font-size: 20px;
    line-height: 34px;
    color: $primary-color;
    cursor: pointer;

    &.is-active {
      color: $link-color;
      border-bottom: 1px solid $link-color;
      transition: 0.7s;
    }

    @include for-phone-only {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__images {
    display: none;

    @include for-phone-only {
      height: 340px;
    }
    @include for-tablet-portait-only {
      height: 420px;
    }
    @include for-tablet-landscape-only {
      height: 520px;
    }

    &.is-active {
      display: block;
    }

    @include for-desktop-up {
      display: none;

      &.is-active {
        display: flex;
      }
    }
  }

  &__images_col {
    display: none;
    margin-right: 43px;

    &:last-child {
      margin-right: 0;
    }

    @include for-desktop-up {
      display: block;
    }
  }

  &__images_col--left {
    margin-top: -41px;
    margin-bottom: -41px;
  }

  &__images_col--right {
    margin-top: -112px;
  }

  &__images-bg--left-top {
    margin-bottom: 39px;
  }

  &__images-bg--right-top {
    margin-bottom: 37px;
  }

  &__images-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: smoothly 0.9s linear;

    @keyframes smoothly {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
  }

  &__swiper-container {
    display: block;

    @include for-desktop-up {
      display: none;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  &__prev, &__next {
    width: 36px;
    height: 36px;
    background: $link-color;
    border-radius: 50%;
    color: $primary-color;
    font-size: 11px;

    &:after {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .swiper-button-disabled {
    opacity: 1;
  }
}
